# Editor specific configuration
.atom

# OctoPrint data
.data

# Environment with OctoPrint
.env

# Byte-compiled files
__pycache__/
*.pyc

# Distribution / packaging
*.egg-info/

# Node
node_modules/

# Language pack files
translations/
*.zip
