include README.md
recursive-include octoprint_metadatapreprocessor/templates *
recursive-include octoprint_metadatapreprocessor/translations *
recursive-include octoprint_metadatapreprocessor/static *
